body {
    background-color:  	#fff2e5;
}
/* nav[class="navbar-default"] {
    position: fixed;
}
ul[class~="navbar-nav"] li:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
} */